/* style the table #todo */

body {
  display: grid;
  width: 100vw;
  justify-items: center;
  align-items: start;
  justify-content: center;
}

form {
  width: 200px;
  display: grid;
  gap: 10px;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

#formCard {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  justify-items: center;
  position: fixed;
  margin-top: 150px;
  box-sizing: border-box;
}

#formCard.hidden {
  display: none;
}

form {
  color: white;
}
